<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="BankLog" fileName="resources/bank.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="BankLog"/>
        </Root>
    </Loggers>
</Configuration>